@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-backround-color: #ffffff;
  --primary-text-color: #1d1d1f;
  --info-container-color: #f5f5f7;
  --primary-description-text-color: #6d6d72;

  --glass-effect-color: rgba(232, 232, 237, 0.7);
  --glass-effect-box-shadow: rgba(0, 0, 0, 0.11);
  --glass-effect-hover-color: rgba(223, 223, 227, 0.698);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
button,
textarea,
select,
label,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

/* ========== FIRST SECTION ========== */

.firstSectionCon {
  width: 100%;
  height: 100vh;
  background-image: url(Zukunftsbild_Deutschland_2045.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.textCon {
  width: auto;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );

  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.textConHeader {
  color: var(--primary-backround-color);
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

.textConDescription {
  color: var(--primary-backround-color);
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding: 7px;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(0, 128, 0, 0.7);
  border-radius: 10px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);
}

.btnInfoCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.infoGridCon {
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.infoCon {
  height: auto;
  width: 200px;
  padding: 20px;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: var(--glass-effect-color);
  border-radius: 16px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoFirstTextCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoIcon {
  width: 50px;
  height: auto;
  fill: #008000;
  stroke: #008000;
  margin-bottom: 10px;
}

.infoFirstText {
  color: var(--primary-text-color);
  font-size: 23px;
  font-weight: 550;
  margin-bottom: 25px;
}

.infoSecondTextCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoSecondText {
  color: #008000;
  font-size: 23px;
  font-weight: 500;
}

/* InfoBtn */
.infoBtn {
  height: auto;
  width: 240px;
  padding: 20px;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(0, 128, 0, 0.7);
  border-radius: 16px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.infoBtn:hover {
  background-color: rgba(0, 117, 0, 0.698);
}

.infoBtn:active {
  background-color: rgba(0, 117, 0, 0.698);
}

.infoBtnText {
  color: var(--primary-backround-color);
  font-size: 23px;
  font-weight: 550;
}

.infoBtnIcon {
  width: 22.5px;
  height: auto;
  fill: var(--primary-backround-color);
  stroke: var(--primary-backround-color);
}

/* ========== FIRST SECTION RESPONSIVE ========== */

@media only screen and (max-width: 1068px) {
  .textConHeader {
    font-size: 55px;
  }

  .textConDescription {
    font-size: 18px;
  }

  /* INFO CONTAINERS / BUTTONS */
  .infoCon {
    width: 180px;
  }

  .infoIcon {
    width: 35px;
  }

  .infoFirstText {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .infoSecondText {
    font-size: 20px;
  }

  /* InfoBtn */
  .infoBtn {
    width: 220px;
  }

  .infoBtnText {
    font-size: 20px;
  }

  .infoBtnIcon {
    width: 19.5px;
  }
}

@media only screen and (max-width: 734px) {
  .textConHeader {
    font-size: 45px;
  }

  .textConDescription {
    font-size: 17px;
  }

  /* INFO CONTAINERS / BUTTONS */
  .infoCon {
    width: 160px;
  }

  .infoIcon {
    width: 30px;
  }

  .infoFirstText {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .infoSecondText {
    font-size: 18px;
  }

  /* InfoBtn */
  .infoBtn {
    width: 200px;
  }

  .infoBtnText {
    font-size: 18px;
  }

  .infoBtnIcon {
    width: 17.5px;
  }
}

@media only screen and (max-width: 459px) {
  .textCon {
    height: 30%;
  }

  .btnInfoCon {
    height: 70%;
  }
}
