@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-backround-color: #ffffff;
  --primary-text-color: #1d1d1f;
  --info-container-color: #f5f5f7;
  --primary-description-text-color: #6d6d72;

  --glass-effect-color: rgba(232, 232, 237, 0.7);
  --glass-effect-box-shadow: rgba(0, 0, 0, 0.11);
  --glass-effect-hover-color: rgba(223, 223, 227, 0.698);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
button,
textarea,
select,
label,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

/* ========== FIRST SECTION ========== */

.firstSectionCon {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/Zukunftsbild_Deutschland_2045.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.textCon {
  width: auto;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  );

  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.textConHeader {
  color: var(--primary-backround-color);
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

.textConDescription {
  padding: 7px;

  color: var(--primary-backround-color);
  font-size: 22px;
  font-weight: 500;
  text-align: center;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(0, 128, 0, 0.7);
  border-radius: 10px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);
}

.btnInfoCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.infoGridCon {
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.infoCon {
  height: auto;
  width: 200px;
  padding: 20px;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: var(--glass-effect-color);
  border-radius: 16px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoFirstTextCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoIcon {
  width: 50px;
  height: auto;
  fill: #008000;
  stroke: #008000;
  margin-bottom: 10px;
}

.infoFirstText {
  color: var(--primary-text-color);
  font-size: 23px;
  font-weight: 550;
  margin-bottom: 25px;
}

.infoSecondTextCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoSecondText {
  color: #008000;
  font-size: 23px;
  font-weight: 500;
}

/* InfoBtn */
.infoBtn {
  height: auto;
  width: 240px;
  padding: 20px;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(0, 128, 0, 0.7);
  border-radius: 16px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.infoBtn:hover {
  background-color: rgba(0, 117, 0, 0.698);
}

.infoBtn:active {
  background-color: rgba(0, 117, 0, 0.698);
}

.infoBtnText {
  color: var(--primary-backround-color);
  font-size: 23px;
  font-weight: 550;
}

.infoBtnIcon {
  width: 22.5px;
  height: auto;
  fill: var(--primary-backround-color);
  stroke: var(--primary-backround-color);
}

/* ========== FIRST SECTION RESPONSIVE ========== */

@media only screen and (max-width: 1068px) {
  .textConHeader {
    font-size: 55px;
  }

  .textConDescription {
    font-size: 18px;
  }

  /* INFO CONTAINERS / BUTTONS */
  .infoCon {
    width: 180px;
  }

  .infoIcon {
    width: 35px;
  }

  .infoFirstText {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .infoSecondText {
    font-size: 20px;
  }

  /* InfoBtn */
  .infoBtn {
    width: 220px;
  }

  .infoBtnText {
    font-size: 20px;
  }

  .infoBtnIcon {
    width: 19.5px;
  }
}

@media only screen and (max-width: 734px) {
  .textConHeader {
    font-size: 45px;
  }

  .textConDescription {
    font-size: 17px;
  }

  /* INFO CONTAINERS / BUTTONS */
  .infoCon {
    width: 160px;
  }

  .infoIcon {
    width: 30px;
  }

  .infoFirstText {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .infoSecondText {
    font-size: 18px;
  }

  /* InfoBtn */
  .infoBtn {
    width: 200px;
  }

  .infoBtnText {
    font-size: 18px;
  }

  .infoBtnIcon {
    width: 17.5px;
  }
}

@media only screen and (max-width: 459px) {
  .textCon {
    height: 30%;
  }

  .btnInfoCon {
    height: 70%;
  }
}

/* ========== SECOND SECTION ========== */

.secondSectionCon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.sectionHeader {
  color: var(--primary-text-color);
  font-size: 32px;
  font-weight: 550;
  text-align: center;
  padding: 40px 0 40px 0;
}

.secondSectionBtnCon {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--glass-effect-color);
  border-radius: 35px;
  gap: 5px;
  padding: 5px;
}

.secondSectionBtn {
  width: auto;
  height: auto;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 35px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  transition: 0.15s ease-in-out;
}

.secondSectionBtn:hover {
  cursor: pointer;
  background-color: var(--glass-effect-hover-color);
}

.active {
  background-color: var(--glass-effect-hover-color);
}

.secondSectionDescription {
  width: 100%;
  max-width: 1068px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 40px 0 40px 0;
}

@media only screen and (max-width: 734px) {
  .secondSectionBtnCon {
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    border-radius: 35px;
    padding: 10px;
  }

  .secondSectionBtn {
    width: 100%;
    height: auto;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 35px;
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 600;
    transition: 0.15s ease-in-out;
  }
}

/* ========== THIRD SECTION ========== */

.thirdSectionCon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.thirdSectionInfoCon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.thirdSectionInfoElement {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(0, 128, 0, 0.7);
  border-radius: 16px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  box-sizing: border-box;
  padding: 20px;
}

.thirdSectionInfoElementTextCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirdSectionInfoElementText {
  color: var(--primary-backround-color);
  font-size: 19px;
  font-weight: 500;
  text-align: center;
}

.thirdSectionInfoSliderCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.infoSliderCon {
  width: 100%;
  height: 18px;
  border-radius: 100px;
  padding: 4px;
  box-sizing: border-box;
  background-color: var(--glass-effect-color);
}

.infoSlider {
  width: 50%;
  height: 100%;
  background-color: #008000;
  border-radius: 100px;
  transition: 0.5s ease-in-out;
}

.thirdSectionInfoSliderText {
  color: var(--primary-backround-color);
  font-size: 16px;
  font-weight: 500;
}
